.app__aboutus {
  position: relative;
  z-index: 1;
}

.app__aboutusContainer {
  background: url("../../assets/bg.png");
  background-position: center;
  background-size: cover;
  background-repeat: repeat;
  background-attachment: fixed;
  z-index: 1;
  height: 750px;
}

.app__aboutusOverlay_hor,
.app__aboutusOverlay_ver {
  position: absolute;
  inset: 0;
}

.app__aboutusOverlay_hor img {
  width: 1678px;
  height: 480px;
  z-index: 0;
}

.app__aboutusOverlay_ver img {
  display: none;
}

.app__aboutusContent {
  width: 100%;
  z-index: 2;
}

.app__aboutusContentAbout {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  flex-direction: column;
  text-align: right;
}

.app__aboutusContentKnife {
  margin: 2rem 6rem;
}
.app__aboutusContentKnife img {
  height: 650px;
  width: auto;
}

.app__aboutusContentHistory {
  flex: 1;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  text-align: left;
}

.app__aboutusContentHistory p {
  margin: 2rem 0;
}
.app__aboutusContentAbout p {
  margin: 2rem 0;
}

.app__aboutusContentAboutSpoon {
  width: 45px;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

@media screen and (min-width: 1920px) {
  .app__aboutusOverlay_hor img {
    width: 1878px;
    height: 630px;
  }
}

@media screen and (max-width: 1024px) {
  .app__aboutusOverlay_hor img {
    width: 1078px;
    height: 330px;
  }
}

@media screen and (max-width: 900px) {
  .app__aboutusContent {
    flex-direction: column;
    justify-content: center;
  }
  .app__aboutusContentKnife {
    margin: 3rem 0;
  }

  .app__aboutusContainer {
    height: 100%;
  }
  .app__aboutusContentAbout {
    justify-content: flex-start;
    align-items: flex-start;
    text-align: left;
  }
  .app__aboutusContentAboutSpoon {
    width: 45px;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }

  .app__aboutusOverlay_hor img {
    display: none;
  }

  .app__aboutusOverlay_ver img {
    display: block;
    height: 800px;
    width: 85%;
  }
}

@media screen and (max-width: 650px) {
  .app__aboutusOverlay_ver img {
    width: 350px;
    height: 650px;
  }
  .app__aboutusContentKnife img {
    height: 500px;
  }
}
